@charset "utf-8";

//Non-Bulma Imports
@import url('https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap');
@font-face
  font-family: 'Tiger Walk';
  src: url('../fonts/TigerWalk.ttf');


//Set up Bulma global variables
$family-sans-serif: 'Raleway', sans-serif
$body-background-color: #ffbe9f
$footer-padding: 3em 1.5em

//Import Bulma 
@import "../../../node_modules/bulma/bulma.sass";

//Custom variables
$navbar-height: 3.25em
$base-title-size: 4em
$base-h1-size: 1.75em
$base-h2-size: 1em

$font-heading: 'Raleway', sans-serif
$font-title: 'Tiger Walk', sans-serif

$color-primary: #ffbe9f

body
  color: white
  background: rgba(255,189,159,1);
  background: -moz-linear-gradient(-45deg, rgba(255,189,159,1) 0%, rgba(255,134,82,1) 20%, rgba(222,67,0,1) 51%, rgba(214,21,31,1) 76%, rgba(198,12,21,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,189,159,1)), color-stop(20%, rgba(255,134,82,1)), color-stop(51%, rgba(222,67,0,1)), color-stop(76%, rgba(214,21,31,1)), color-stop(100%, rgba(198,12,21,1)));
  background: -webkit-linear-gradient(-45deg, rgba(255,189,159,1) 0%, rgba(255,134,82,1) 20%, rgba(222,67,0,1) 51%, rgba(214,21,31,1) 76%, rgba(198,12,21,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(255,189,159,1) 0%, rgba(255,134,82,1) 20%, rgba(222,67,0,1) 51%, rgba(214,21,31,1) 76%, rgba(198,12,21,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(255,189,159,1) 0%, rgba(255,134,82,1) 20%, rgba(222,67,0,1) 51%, rgba(214,21,31,1) 76%, rgba(198,12,21,1) 100%);
  background: linear-gradient(135deg, rgba(255,189,159,1) 0%, rgba(255,134,82,1) 20%, rgba(222,67,0,1) 51%, rgba(214,21,31,1) 76%, rgba(198,12,21,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbd9f', endColorstr='#c60c15', GradientType=1 );


h1, h2, h3, h4
  font-family: $font-heading

h1
  font-size: $base-h1-size

h2, .content h2
  font-size: $base-h2-size
  font-weight: 400

header
  color: #ed1d32

  .navbar
    min-height: $navbar-height
    .navbar-item
      color: #ed1d32

footer
    color: #ed1d32
    svg
      color: #ed1d32

.layout-content
  a
    border-bottom: 5px solid white
    border-radius: 5px
    color: white
  a:hover
    border-color: #ffbe9f
    color: #ffbe9f

.logo
  font: 2em $font-title
  text-transform: uppercase

#home
  .hero-body
    text-align: center
  .title
    font: $base-title-size $font-title
    text-transform: uppercase;

#about
  background-color: transparent;

#portfolio
  background-color: transparent;
  .media
    border-top: none
    flex-flow: column-reverse
    align-items: center

    .media-right
      margin: 0 0 1em 0;
    .media-content
      width: 100%;
    figure
      height: 15em
      display: inline-block
    img
      height: 100%
      width: auto
  
  .media + .media
    margin-top: 3em;
        

#contact
  background-color: blue;

@media screen and (min-width: 320px)
  #portfolio
    .media
      .media-content
        width: 75%;


@media screen and (min-width: $tablet)
  h1
    font-size: $base-h1-size * 1.5
  h2, .content h2
    font-size: $base-h2-size * 1.5

  #home
    .title
      font-size: $base-title-size * 2
  
  #portfolio
    .media
      flex-flow: row
      .media-content
        width: 60%
      .media-right
        width: 40%
        text-align: right

    .media:nth-child(odd)
      flex-flow: row-reverse
      .media-right
        text-align: left

@media screen and (min-width: $desktop)
  .container
    width: 60%

  h2, .content h2
    font-size: $base-h2-size * 2

  #home
    .title
      font-size: $base-title-size * 3

[data-aos="custom-fade-out"]
  opacity: 1
  transition-property: opacity

  &.aos-animate
    opacity: 0
